{% extends 'base.html' %}

{% block title %} {{ current_user.get_full_name() }} {% endblock %}

{% block content %}

<div class="row justify-content-center">

  <div class="col-4 col-sm-4 col-md-4 col-lg-3">
    <img class="img-fluid mb-5" src="{{ current_user.image_url }}">
  </div>

  <div class="col-12 col-sm-10 col-md-8">
    <h1>{{ current_user.get_full_name() }}</h1>
    <p class="lead"> {{ current_user.description }} </p>

    <p><b>Username:</b> {{ current_user.username }} </p>
    <p><b>Email:</b> {{ current_user.email }} </p>

    <p>
      <a class="btn btn-outline-primary" href="/profile/edit">
        Edit Your Profile
      </a>
    </p>

  </div>

  <div style="display: block;">
    <h3>Your Liked Cafes</h3>

    {% if current_user.liked_cafes %}
    <ul id="liked_cafes">

      {% for cafe in current_user.liked_cafes %}
      <li><a href="/cafes/{{ cafe.id }}">{{ cafe.name }}</a></li>
      {% endfor %}

    </ul>

    {% else %}

    <p>You have no liked cafes</p>

    {% endif %}
  </div>
</div>

{% endblock %}